.intro {
  padding: 50px 20px 65px;
}

.heading {
  color: var(--red);
}

.subHeading {
  font-size: 24px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
  margin: 0 auto 1px;
  max-width: 600px;
  line-height: 28px;
  font-family: var(--slab-font);
  color: var(--blue);
}

.body {
  font-size: 20px;
  text-align: center;
  font-weight: 100;
  line-height: 30px;
  max-width: 470px;
  margin: auto;
  color: var(--blue);
}
