.subHeading {
  font-size: 24px;
  text-align: center;
  font-weight: 800;
  letter-spacing: 2px;
  margin: auto;
  margin-bottom: 1px;
  font-family: var(--slab-font);
  max-width: 600px;
  line-height: 28px;
}
