.button {
  outline: none;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--charcoal);
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: white;
  border: none;
  padding: 11px 15px;
  border-radius: 3px;
  font-size: 18px;
  font-weight: 500;
  transition: transform 0.5s, filter 0.5s;
}

.button:hover {
  transform: translate(0, -3px);
  filter: brightness(1.3);
}
