.body {
  text-align: center;
}

.description {
  margin-bottom: 40px;
  max-width: 500px;
  margin: auto;
  padding: 0 20px;
}

.links {
  margin-bottom: 40px;
}

.linkButtonContainer {
  text-align: center;
  margin-bottom: 40px;
}

.tags {
  justify-content: center;
}
