.slantedBackground {
  position: relative;
}

.slantedBackground:after {
  content: "";
  position: absolute;
  background-color: var(--light-grey);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
  height: 170px;
  width: 100%;
  z-index: -1;
  bottom: 0;
}

.contact {
  padding: 53px;
  background-color: var(--light-grey);
}

.contactInner {
  max-width: 850px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  margin-right: 10px;
}

.heading {
  margin-bottom: 1px;
}

.body {
  margin: 0;
  font-size: 24px;
  color: var(--green);
}

.button {
  width: 150px;
  text-align: center;
}

.twitterButton {
  margin-right: 10px;
  background-color: var(--blue);
}

.emailButton {
  background-color: var(--red);
}

@media (max-width: 708px) {
  .contactInner {
    justify-content: center;
  }

  .textContainer {
    margin-right: 20px;
  }

  .twitterButton {
    display: block;
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 450px) {
  .button {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .contactInner {
    display: block;
  }

  .textContainer {
    margin-right: 0;
    margin-bottom: 25px;
    text-align: center;
  }
}
