.tags {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  margin-right: 10px;
}

.tag {
  border-radius: 15px;
  padding: 7px 10px 9px;
  background-color: #00000012;
  color: #f3f3f391;
  display: inline-block;
  margin: 5px 5px 0;
}
