.resume {
  padding: 80px 20px 50px;
}

.resumeInner {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border: 1px solid var(--grey);
  border-radius: 3px;
  background-color: white;
}

.body {
  text-align: center;
}

.buttonContainer {
  text-align: center;
}

.viewButton {
  width: 150px;
  background-color: var(--green);
}

.downloadButton {
  width: 150px;
  background-color: var(--purple);
}

@media (max-width: 680px) {
  .resume {
    padding: 40px 20px 20px;
  }
}
