.page {
  padding-top: 0;
}

.closeButtonContainer {
  text-align: right;
  margin-bottom: 10px;
}

.closeButton {
  color: var(--charcoal);
  font-size: 50px;
  padding-right: 13px;
  transition: filter 0.5s;
}

.closeButton:hover {
  filter: brightness(1.5);
}
