.projectOuter {
  margin: 40px 20px 20px;
}

.link {
  text-decoration: none;
}

.project {
  max-width: 500px;
  margin: auto;
  padding: 10px;
  border-radius: 3px;
  background-color: white;
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: transform 0.5s, filter 0.5s;
}

.project:hover {
  cursor: pointer;
  transform: translate(0, -4px);
  filter: brightness(1.1);
}

.projectInner {
  border: 1px solid #ffffff59;
  padding: 30px;
}

.projectName {
  color: white;
  margin-bottom: 9px;
}

.projectBody {
  margin: 0;
  color: white;
}

@media (max-width: 520px) {
  .projectOuter {
    margin: 0;
  }

  .project:hover {
    transform: initial;
  }

  .project {
    box-shadow: none;
    border-radius: 0;
  }

  .projectInner {
    border: none;
  }
}
