.project {
  max-width: 500px;
  background-color: white;
  text-align: center;
  transition: transform 0.5s, filter 0.5s;
  padding: 40px 40px 20px;
  box-shadow: var(--box-shadow);
  border: none;
  margin: 40px auto;
}

@media (max-width: 620px) {
  .project {
    margin: 20px;
  }
}

.projectName {
  color: white;
}

.projectBody {
  color: white;
  margin-bottom: 28px;
}

.button {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  width: 145px;
  padding: 10px;
  transition: transform 0.5s, background-color 0.3s, color 0.3s;
  margin-bottom: 28px;
}

.button:hover {
  filter: none;
  background-color: white;
  color: var(--charcoal);
}

@media (max-width: 520px) {
}
