.display {
  background-color: var(--purple);
  background: linear-gradient(to bottom right, var(--purple), var(--orange));
  box-shadow: var(--box-shadow);
  padding: 53px;
  margin-bottom: 38px;
}

.displayInner {
  max-width: 500px;
  margin: auto;
}

.header {
  color: var(--orange);
  font-size: 27px;
  margin-bottom: 20px;
  font-family: var(--slab-font);
}

.body {
  color: white;
  margin-bottom: 20px;
  line-height: 21px;
}

.portfolioButton {
  margin-right: 10px;
}

.gitHubButton {
  background-color: transparent;
  border: 2px solid white;
  border-radius: 4px;
  text-align: center;
  width: 150px;
  padding: 9px;
  transition: transform 0.5s, background-color 0.3s, color 0.3s;
}

.gitHubButton:hover {
  filter: none;
  background-color: white;
  color: var(--charcoal);
}

@media (max-width: 450px) {
  .display {
    text-align: center;
  }

  .portfolioButton {
    display: block;
    margin: 0 auto 10px;
  }
}
