.card {
  max-width: 580px;
  padding: 40px;
  border: 1px solid var(--grey);
  border-radius: 3px;
  background-color: white;
  text-align: center;
  margin: 80px auto 50px;
  box-sizing: border-box
}

@media (max-width: 620px) {
  .card {
    margin: 40px 20px 20px;
  }
}
