.card {
  padding: 80px 20px 50px;
}

.cardInner {
  max-width: 500px;
  margin: auto;
  padding: 40px;
  border: 1px solid var(--grey);
  border-radius: 3px;
  background-color: white;
  text-align: center;
}

@media (max-width: 680px) {
  .card {
    padding: 40px 20px 20px;
  }
}
