.slantedBackground {
  position: relative;
}

.slantedBackground:after {
  content: "";
  position: absolute;
  background-color: var(--light-grey);
  clip-path: polygon(0 40%, 100% 0, 100% 100%, 0% 100%);
  height: 170px;
  width: 100%;
  z-index: -1;
  bottom: 0;
}

.footer {
  padding: 53px;
  background-color: var(--light-grey);
}

.footerInner {
  max-width: 850px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.textContainer {
  margin-right: 10px;
}

.heading {
  text-align: left;
  margin-bottom: 1px;
}

.subHeading {
  font-size: 24px;
  color: var(--green);
}

.twitterButton {
  text-align: center;
  margin-right: 10px;
  background-color: var(--blue);
}

.emailButton {
  text-align: center;
  margin-right: 10px;
  background-color: var(--red);
}

.linkedInButton {
  text-align: center;
  background-color: var(--green);
}

@media (max-width: 715px) {
  .footerInner {
    display: block;
  }

  .heading {
    text-align: center;
  }

  .twitterButton, .emailButton, .linkedInButton {
    display: block;
    margin: 0 auto 10px;
    width: 150px;
  }

  .textContainer {
    margin-right: 0;
    margin-bottom: 25px;
    text-align: center;
  }
}
