.header {
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  padding: 45px 0 40px;
}

.project {
  text-align: center;
  cursor: pointer;
  padding: 40px 15px;
  text-align: center;
  box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.28);
  max-width: 450px;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 3px;
  transition: transform 0.5s, filter 0.5s;
}

.project:hover {
  transform: translate(0, -4px);
  filter: brightness(1.1);
}

.name {
  margin: auto;
  max-width: 400px;
  color: white;
  letter-spacing: 3px;
  font-size: 55px;
  margin-bottom: 15px;
  font-family: var(--header-font);
  font-size: 30px;
}

.description {
  margin: auto;
  max-width: 300px;
  color: white;
  font-size: 14px;
}

@media (max-width: 530px) {
  .project {
    max-width: 100%;
    margin: 0;
    box-shadow: none;
    border-radius: 0;
  }

  .project:hover {
    transform: initial;
  }
}
