:root {
  --charcoal: #454545;
  --purple: #6b5777;

  --header-font: 'Bitter', cursive;
  --main-font: 'PT Sans', sans-serif;

  --mobile-media-query: 530px;
}

body {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, p, a, ul, ol, li, span {
  font-family: var(--main-font);
  color: var(--charcoal);
}
