:root {
  --charcoal: #323131;
  --grey: #ecebeb;
  --light-grey: #f2f2f2;
  --green: #62a062;
  --yellow: #f5bb24;
  --purple: #816c8e;
  --red: #c44b33;
  --blue: #495990;
  --orange: #ffb66b;

  --main-font: 'Open Sans', cursive;
  --slab-font: 'Josefin Sans';

  --box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.28);
}

html {
  height: 100vh;
}

body {
  box-sizing: border-box;
  min-height: 100vh;
  font-family: var(--main-font);
  color: var(--charcoal);
}

p {
  line-height: 24px;
  margin-bottom: 20px;
  font-size: 17px;
}
